button {
  border: none;
  resize: 4rem;
}
.dropdown {
  display: none;
}
menu{
  display: onclick;
}
.show {
  display: block;

}
body {
  margin: 2rem;
  font-size: 1rem;
  background-color: #efece8;
  font-style: normal;
  color: #ffffff;
  background: no-repeat url(assets/backgroundimg.jpg);
}
p{
  width: 500px;
  height: 500px;
  background-color: #efece8;
  margin: 0 auto;
  } 
  /* This this the title settings */
  h1 {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    text-align: center;
    border: 5px solid #000;
  }

  footer {
    display:flex;
    align-items:center;
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #efece8;
    /* margin: 14rem; */
    text-align: center;
    margin: 20rem;
  }
  footer img {
    margin: 0.3rem;
    width: 1rem;
    height: 1rem;
  }
 img{
  float: right;
  width: 4rem;
  height: 4rem;
 }