body {
  /* reset */
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: #333;
  padding: 10px;
}

nav button {
  /* allows rotate to work */
  display: flex;
  background-color: #444;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

span {
  padding: 0 5px;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

nav button:hover {
  background-color: #555;
}

.dropdown {
  display: none;
  background: #555;
}

.dropdown.show {
  display: block;
}

.dropdown a {
  color: #fff;
  padding: 10px;
  /* make the links stack */
  display: block;
  text-decoration: none;
}

.dropdown a:hover {
  background: #666;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries */
@media (min-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }

  nav button {
    display: none;
  }

  .dropdown {
    display: flex;
    justify-content: space-evenly;
  }

  .dropdown a {
    display: inline-block;
    /* padding: 5px 80px; */
  }
}

