h1{
font-family: "Style Script", cursive;
font-weight: 400;
font-style: normal;
font-size: 6rem;
text-align: center;
border: 5px solid #000;
background-color: #000;
}
.show, .show a {
display: block;
background-color: #efece8;
width: 100px;
color: #000;
font-family: "Inria Serif", serif;
font-weight: 400;
font-style: normal;
}
/* This is the code for the about us page */
.box{
text-align: center;
font-size: 2rem;
color: #000;
height: 200px;
width: 300px;
background-color:  rgb(244, 209, 228);
margin: auto;
line-height: 2;
}
/* .infobox{
text-align: center;
font-size: 1rem;
color: #000;
height: 200px;
width: 300px;
background-color:  rgb(244, 209, 228);
margin: auto
line-height: 2;
float: right;
} */
div{
font-family: "Inria Serif", serif;
font-weight: 400;
font-style: normal;
color: #000;
}
/* This the order page */
/* cupcakes box  */
.orderbox{
text-align: center;
font-size: 3rem;
font-family: "Inria Serif", serif;
font-weight: 400;
font-style: normal;
color: #000;
height: 250px;
width: 400px;
background-color: rgb(244, 209, 228);
padding: 20px;
line-height:3;
margin: 3rem;
}
.cakesbox{
text-align: center;
font-size: 3rem;
font-family: "Inria Serif", serif;
font-weight: 400;
font-style: normal;
color: #000;
height: 250px;
width: 400px;
background-color: #fcfcfc;
padding: 20px;
line-height:3;
margin: 3rem;
}
.pastrybox{
text-align: center;
font-size: 3rem;
font-family: "Inria Serif", serif;
font-weight: 400;
font-style: normal;
color: #000;
height: 250px;
width: 400px;
background-color: rgb(244, 209, 228);
padding: 20px;
line-height:3;
margin: 3rem;
}
span{
font-family: "Inria Serif", serif;
font-weight: 400;
font-style: normal;
color: #000;
}
footer {
display:flex;
align-items:center;
font-family: "Inria Serif", serif;
font-weight: 400;
font-style: normal;
color: #000000;
text-align: center;
background-color: #efece8;
  }
footer img {
margin: 0.3rem;
width: 1rem;
height: 1rem;
  }
img{
float: right;
width: 4rem;
height: 4rem;
 }




